@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.s-page {
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 320px;
  font-family: $font-family;
  font-size: 18px;
  line-height: 1.5em;

  @media (min-width: $screen-lg) {
    font-size: 20px;
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }

  .gr {
    font-family: 'Grafier Black Display';
    line-height: 1.2em;
    font-variant-ligatures: no-common-ligatures;
  }
}