@font-face {
  font-family: 'Grafier Black Display';
  src: url('../fonts/Grafier-BlackDisplay.woff2') format('woff2'),
    url('../fonts/Grafier-BlackDisplay.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grafier';
  src: url('../fonts/Grafier-Regular.woff2') format('woff2'),
    url('../fonts/Grafier-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grafier Display';
  src: url('../fonts/Grafier-RegularDisplay.woff2') format('woff2'),
    url('../fonts/Grafier-RegularDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grafier';
  src: url('../fonts/Grafier-Black.woff2') format('woff2'),
    url('../fonts/Grafier-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
